@page "/users/{userId?}"

<h1>Update User</h1>

@(await Html.RenderComponentAsync<UserForm>(Rendering.RenderMode.ServerPrerendered,
    new { formMode = FormMode.Edit, userId = RouteData.Values["userId"] })) 
