@page
@model DominicoBus.Pages.Home
@inject ContentService contentService

<hgroup>
    <h1>@contentService.GetContent("home", "title")</h1>
    <p>@contentService.GetContent("home", "subtitle")</p>
</hgroup>